@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ManageDo Application</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to ManageDo</h2>
        <p>
            ManageDo Application is a task-managing application which is
            using ASP.NET MVC 5 web application with Entity Framework 6.

        </p>
    </div>
    <div class="col-md-4">
        <h2>Manage To-Do Items</h2>
        <p>You can start create new items and observe how much progress you have done from here.</p>
        <p><a class="btn btn-default" href="/ToDoItems">Create new items &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage To-Do Lists</h2>
        <p>You can arrange multiple items by genering a composite list.</p>
        <p><a class="btn btn-default" href="/ToDoLists">Create new lists &raquo;</a></p>
    </div>
</div>